@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--bg-color: rgb(204, 174, 136);
	  --button-color: rgb(248, 145, 165);
}

.fade-box {
  opacity: 1;
  transition: opacity 0.5s ease; /* durasi animasi */
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 100;
}

.button {
    background: var(--button-color);
}

*{
    box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	
}

body {
	background: var(--bg-color);
}


.container {
    height: 100vh;
    width: 100vw;
	overflow: hidden;
	
}

.flipbook {
	user-select: none;
	scale: 0.9;
}

.flipbook .hard {
    background: rgb(255, 241, 241) !important;
    color: #fff;
    font-weight: bold;
    border: none; 
}

.flipbook .hard small{
	font-style: italic;
	font-weight: lighter;
	opacity: 0.7;
	font-size: 14px;
	user-select: none;
}

.flipbook .page {
    background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.page img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: auto;
	user-select: none;
}

.flipbook .page small{
	font-size: 14px;
    margin-bottom: 10px;
}


.glass {
	/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}